.calculadora {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

input {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}

.resultado {
    background-color: rgb(50, 49, 49);
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    font-size: 20px;
}

.final {
    flex-direction: row;
    display: flex;
}
 
p {
    margin: 10px;
    font-size: 20px;
}
